doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/game.css')
    script(type='text/javascript').
      FIREBASE_URL = "#{firebase_url}";
      window.addEventListener('load', function() { game.onload(); }, false);
    script(type='text/javascript', src='/bower_components/firebase/firebase.js')
    script(type='text/javascript', src='/javascripts/game.js')
  body
